*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --text-color-translucent: rgb(49 42 78 / 0.5);
  --accent-color: #ffab6b;
  --main-font: 'Raleway', sans-serif;
  --accent-font: 'STIX Two Text', serif;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #f3efec);
  font-family: var(--main-font, sans-serif);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --text-color-translucent: rgb(179 179 179 / 0.5);
  --accent-color: transparent;
}

.heading {
  font-family: var(--accent-font, serif);
  font-weight: 600;
  font-style: normal;
  line-height: 0.9em;
  text-align: center;
  color: var(--text-color);
}

.header {
  padding-block-start: 10%;
  color: var(--text-color, #312a4e);
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-block-end: 40px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-block: 1px solid currentColor;
  padding-block: 20px;
}

.header__theme-toggler {
  padding: 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}

.header__theme-button {
  font-family: inherit;
  font-size: inherit;
  color: currentColor;
  min-height: 1.04em;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__theme-button:hover {
  text-decoration: underline var(--text-color-translucent, rgb(49 42 78 / 0.5)) 1px;  
  text-underline-offset: 2px;
}

.header__theme-button:active {
  font-weight: bold;
}

.header__theme-button:focus {
  outline: none;
}

.header__theme-button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

.header__theme-button_is-active {
  font-weight: bold;
  position: relative;
}

.header__theme-button:disabled {
  pointer-events: none;
}

.header__theme-button_is-active::after {
  content: "";
  background-color: var(--accent-color, #ffab6b);
  width: 81px;
  height: 6px;
  position: absolute;
  left: calc((100% - 81px) / 2);
  bottom: 1px;
  z-index: -1;
}

.theme_dark .header__theme-button_is-active::after {
  content: "";
  background-image: url(../images/pattern.svg);
  background-size: contain;
  width: 90px;
  height: 10px;
  position: absolute;
  left: calc((100% - 90px) / 2);
  bottom: 0;
  z-index: -1;
}

.content__title {
  font-size: 30px;
  margin-block-start: 7%;
  margin-block-end: 2.5%;
  color: var(--text-color, #312a4e);
}

.content-section {
  padding-inline: 5vi;
}

.content__text-block {
  font-size: 18px;
  line-height: 1.17em;
  color: var(--text-color, #312a4e);
}

.content__paragraph:not(:last-child) {
  margin-block-end: 1.5em;
}

.content__paragraph:last-child {
  padding-block-end: 4px;
}

.content__text-block_type_first-lettered {
  padding-block-start: 8px;
}

.content__text-block_type_first-lettered .content__paragraph:first-child:first-letter {
  background-color: var(--accent-color, #ffab6b);
  font-weight: bold;
  font-size: 30px;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  margin-inline-end: 1px;
}

.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-child:first-letter {
  border: 1px solid currentColor;
}

.content__figure {
  width: calc(100% + 10vi);
  margin-inline-start: calc(-5vi);
  margin-block: 7%;
  padding: 0;
}

.content__picture {
  width: 100%;
}

.content__picture-caption {
  font-size: 18px;
  color: var(--text-color, #312a4e);
  border-bottom: 1px solid currentColor;
  text-align: center;
  line-height: calc(1em + 40px);
}

.content__blockquote {
  padding-block-start: 0.1em;
  margin-block-end: 1.5em;
  font-style: italic;
  line-height: 200%;
  width: 75%;
  margin-inline: auto;
}

.content__link {
  color: inherit;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.content__link:hover {
  text-decoration-color: var(--text-color-translucent, rgb(49 42 78 / 0.5));
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block-start: 6.7%;
  color: var(--text-color, #312a4e);
  border: 1px solid currentColor;
  aspect-ratio: 4/3;
  padding: 5vi;
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  text-align: center;
  font-size: 18px;
}

.colored-text {
  position: relative;
}

.colored-text::after {
  content: "";
  background-color: var(--accent-color, #ffab6b);
  width: 220px;
  height: 15px;
  position: absolute;
  left: calc((100% - 220px) / 2);
  bottom: 11px;
  z-index: -1;
}

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
  background-size: auto;
  background-repeat: repeat;
}

.content__list {
  list-style-type: none;
  padding: 0 0 0 40px;
}

.content__list-item {
  position: relative;
  margin-block-end: 36px;
}

.content__list-item:not(:last-child) {
  margin-block-end: 10px;
}

.content__list-item::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../images/marker-light.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: calc((100% - 15px) / 2);
  left: -25px;
}

.theme_dark .content__list-item::before {
  background-image: url(../images/marker-dark.svg);
}

.footer {
  margin-block-start: 10%;
  padding-block: 2.5%;
  color: var(--text-color, #312a4e);
  border-block-start: 1px solid currentColor;
  text-transform: uppercase;
}

.footer__copyright {
  font-size: 18px;
  text-align: center;
}